/*  start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: #19c9fa72;
    --section-padding: 60px;
}

/*  end variables */

/* repetitive classes */
.special-heading {
    text-align: center;
}

.special-heading h2 {
    width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 50px;
    position: relative;
}

.special-heading p {
    color: #777;
    line-height: 1.8;
    max-width: 550px;
    margin: 0 auto 100px;

}

.special-heading h2::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.special-heading h2::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 1px;
    background-color: black;
}

/* End repetitive classes */

/* start global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* eng global rules  */

/* start header */
header {
    position: absolute;
    width: 100%;
    left: 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 5px);
    background-color: #a2a2a2ed;
    left: 15px;
    bottom: 0;
    z-index: 1;
}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: none;
}

@media (min-width:787px) {
    header nav ul {
        display: flex;
    }
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 15px;
    position: relative;
    z-index: 2;
}

header .toggle-menu {
    color: white;
    font: 20px;
    display: none;
}

@media (max-width:787px) {
    header .toggle-menu {
        display: block;
    }

    header nav ul li a {
        padding: 15px !important;
    }

    header .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        top: 100%;
        left: 0;
    }
}

header nav .form {
    margin-left: 50px;
    height: 30px;
    color: white;
    border-left: 2px solid white;
    position: relative;
    left: -30px;
}

header nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
header ul li a.active,
header ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

/* end header */

/* start landing section */
.landing {
    height: 100vh;
    position: relative;
    background-image: url(/imgs/landing.jpg);
    background-size: cover;
    z-index: -1;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: end;
}

.landing .content {
    max-width: 500px;
}

@media(max-width:787px) {
    .landing .text {
        justify-content: start;
        width: 100%;
    }

    .landing .content {
        max-width: 100%;
    }
}

.landing .content h2 {
    font-weight: normal;
    line-height: 1.6;
    font-size: 30px;
    margin-bottom: 20px;

}

.landing .content p {
    line-height: 1.8;
    font-size: 14px;
}

.landing .change-background {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.landing .fa-angle-left {
    left: 10px;
}

.landing .fa-angle-right {
    right: 10px;
}

@media(max-width:787px) {
    .landing .change-background {
        display: none;
    }
}

.landing .bullets ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 11px;
}

.landing .bullets li.active {
    border: none;
    background-color: var(--main-color);
}

/* End landing section */
/* start services */
.services {
    padding: var(--section-padding) 0;
}

.services .services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.services .services-content .srv {
    display: flex;
    max-width: 550px;
    margin-bottom: 40px;
}

.services .services-content .srv i {
    height: 50px;
    width: 50px;
    font-size: 45px;
    margin-right: 40px;
}

@media (max-width:787px) {
    .services .services-content {
        flex-direction: column;
        text-align: center;
    }

    .services .services-content .srv {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .services .services-content .srv i {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .services-content .srv .text p {
    color: #777;
    line-height: 1.8;
}

/* end services */
/* start design */
.design {
    padding: var(--section-padding) 0;
    height: 600px;
    position: relative;
    background-image: url("/imgs/design-features.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 787px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/*---- ------------------------------------------------------  Start portfolio ------------------------------------------*/
/* shuffle part */
.portfolio {
    padding: var(--section-padding) 0;

}

.portfolio .category {
    width: max-content;
    margin: 0 auto;
}

.portfolio .category span {
    padding: 10px;
}

.portfolio .category .all {
    background-color: var(--main-color);
    color: white;
}

/* end shuffle */
/*  start images part */
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

@media (min-width: 787px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: white;
    left: 0;
    bottom: -100px;
    transition: 0.3s;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box .caption h4 {
    padding: 5px;
    font-weight: normal;
}

.portfolio .imgs-container .box .caption p {
    padding: 5px;
    font-weight: 600;
    color: var(--main-color);
}

.portfolio .more {
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 15px auto;
}

/*  end images part */
/*---- ------------------------------------------------------  End portfolio ------------------------------------------*/
/*---- ------------------------------------------------------  Start Video ------------------------------------------*/
.video {
    padding: var(--section-padding) 0;
    position: relative;
}

.video::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 123px);
    left: 0;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 1;
}

.video video {
    width: 100%;
}

.video .text {
    padding: 50px;
    width: 100%;
    background-color: var(--transparent-color);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.video .text p {
    padding-bottom: 30px;
}

@media (max-width:768px) {
    .video .text {
        padding: 20px;
        background-color: transparent;
    }

    .video .text h2 {
        padding-bottom: 15px;
    }
}

.video .text .see-more {
    text-decoration: none;
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 10px;

}

/*---- ------------------------------------------------------  end Video ------------------------------------------*/
/*---- ------------------------------------------------------  Start about ------------------------------------------*/
.about {
    padding: var(--section-padding) 0 0 0;
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%;
}

@media(max-width:787px) {
    .about img {
        position: relative;
        margin-top: -60px;
        bottom: -60px;
    }
}

/*---- ------------------------------------------------------  End about ------------------------------------------*/
/*---- ------------------------------------------------------  Start Stats ------------------------------------------*/
.stats {
    padding: var(--section-padding) 0;
    background-image: url(/imgs/stats.png);
    background-size: cover;
    position: relative;
}

.stats::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100%);
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.51);
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--transparent-color);
}

.stats .box {
    position: relative;
    color: white;
    z-index: 2;
    text-align: center;
    padding: 50px;
}

@media(max-width:787px) {
    .stats .box {

        flex-basis: 100%;
    }

    .stats .box:not(:last-child) {
        border-bottom: 1px solid #976b9d;
    }
}

@media(min-width:992px) {
    .stats .box {

        flex-basis: 50%;
    }
}

@media(min-width:1200px) {
    .stats .box {

        flex-basis: 25%;
    }
}

.stats .box i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #c9bedb5c;
    color: #d4bcd8;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 auto 10px;
}

.stats .box h2 {
    color: #c9bedb;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;

}

.stats .box p {
    font-size: 15px;
    color: #d4bcd8;
}

/* ----------------------------------------------  start our skills ------------------------------------------- */
/*------------------------------------------------ end out skills  ------------------------------------------ */



/* ------------------------------------------ Start quote ---------------------------------------------------- */

.quote {
    padding: var(--section-padding) 0;
    background-image: url(/imgs/quote.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.803);
}

.quote .text {
    position: relative;
    text-align: center;
}

.quote q {
    position: relative;
    font-size: 32px;
    color: white;

    &::before {
        content: "\201C";
        position: absolute;
        font-size: 50px;
        left: -25px;
        top: -5px;
        color: white;
    }

    &::after {
        content: "\201D";
        position: absolute;
        font-size: 50px;
        right: -25px;
        bottom: -28px;
        color: white;
    }

}

@media(max-width:787px) {
    .quote q {
        font-size: 20px;
    }

    .quote p {
        font-size: 14px;
    }
}

.quote p {
    margin-top: 20px;
    color: white;
}

/* ------------------------------------------ End quote ---------------------------------------------------- */
/* -------------------------------------------start our skills--------------------------------------------------------- */
/* testi part */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .heading {
    text-align: center;
}

.our-skills .heading h3 {
    margin-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}

.our-skills .heading p {
    line-height: 2;
    margin-bottom: 50px;
    color: #777;
}

.our-skills .container {
    display: flex;
    justify-content: space-between;

}

.our-skills .container>div {
    max-width: 45%;
}

@media (max-width: 768px) {
    .our-skills .container {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .container>div {
        max-width: 100%;
    }

}

.our-skills .testi img {
    height: 100px;
    border-radius: 50%;
}

@media(max-width:768px) {
    .our-skills .testi img {
        margin-bottom: 15px;
    }
}

.our-skills .testi .cards>div {
    display: flex;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .our-skills .testi .cards>div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.our-skills .testi .cards>div .info {
    margin-left: 40px;
    border-bottom: 1px solid #7777774d;
}

.our-skills .testi .cards>div .info h4 {
    font-weight: normal;
    line-height: 2;
}

.our-skills .testi .cards>div .info p {
    text-align: end;
    margin-bottom: 10px;
    font-size: 13px;
    color: #777;
}

.our-skills .testi ul {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.our-skills .testi ul li {
    background-color: white;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    border-radius: 50%;
}

.our-skills .testi ul .active {
    background-color: var(--main-color);
    border-color: transparent;
}

/* prog part */
.our-skills .skills .prog-holder {
    margin-bottom: 25px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.our-skills .skills .prog {
    background: #eee;
    width: 100%;
    height: 35px;
}

.our-skills .skills .prog span {
    position: relative;
    background-color: var(--main-color);
    height: 35px;
    display: block;
}

.our-skills .skills .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    right: -15px;
    top: -35px;
}

.our-skills .skills .prog span::after {
    content: attr(data-progress);
    position: absolute;
    right: -4px;
    top: -12px;
    color: transparent;
    font-size: 0;
    border-style: solid;
    border-width: 6px;
    border-color: black transparent transparent;
}

/* ------------------------------------------start pricing ------------------------------------------------ */
.pricing {
    padding: var(--section-padding) 0 200px;
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background: #f6fdffe6;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}

.pricing .plans .plan .head span {
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

.pricing .plans .plan .head span::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    font-weight: 400;
    left: -28px;
    top: -2px;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    right: -50px;
    bottom: 10px;
}

.pricing .plans .plan ul {

    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
}

.pricing .plans .plan ul li:not(:last-child) {
    width: 55%;
    margin: 0 auto;
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .foot {
    padding: 40px;
}

.pricing .plans .foot a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 15px;
}

.pricing .contact-us {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0;
    text-align: center;
}

.pricing .contact-us h4 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.pricing .contact-us a {
    text-transform: capitalize;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
}

/* ---------------------------------------------------- start subscribe ------------------------------------------------------ */
.subscribe {
    position: relative;
    padding: var(--section-padding) 0;
    background-image: url(/imgs/footer.jpg);
    background-size: cover;
}

.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.564);

}

.subscribe .container {
    position: relative;
    display: flex;

}

.subscribe .container .input {
    position: relative;
    margin: 0 auto;
    border: white 1px solid;
    width: 100%;
}

.subscribe .container .input .text {
    position: relative;
    border: none;
    background: transparent;
    color: white;
    width: calc(100% -130px);
    padding: 20px 20px 20px 60px;
    outline: none;
}

.subscribe .container .input i {
    font-size: 21px;
    color: white;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe .container .input .text::placeholder {
    color: white;
}

.subscribe .container .input .submit {
    position: absolute;
    height: 100%;
    width: 130px;
    top: 0;
    right: 0;
    border: 1px solid white;
    border-left: none;
    background: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.subscribe .container p {
    width: 100%;
    margin-left: 100px;
    line-height: 2;
    color: white;
}

@media(max-width:767px) {
    .subscribe .container {
        flex-direction: column;
        margin-top: 20px;
    }

    .subscribe .container p {
        margin: 20px auto 0;
        width: 90% !important;
    }
}

@media(max-width:992px) {
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe .container p {
        margin: 20px auto 0;
        width: 90% !important;
    }
}

/* ---------------------------------------------------- end subscribe ------------------------------------------------------ */


/* ---------------------------------------------------- start contact ------------------------------------------------------ */
.contact {
    padding: var(--section-padding) 0;
}

.contact .content {

    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

@media(max-width:768px) {
    .contact .content {
        text-align: center;
        flex-direction: column;
    }
}

.contact .content .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    flex-basis: 70%;
}

.contact .content .contact-info {
    flex-basis: 25%;
}

.contact .content .form input,
textarea {
    outline: none;
    border: 1px solid #77777796;
    padding: 20px 0 20px 30px;
}

.contact .content .form textarea {
    height: 200px;
}

.contact .content .form input:not(:last-child),
textarea::placeholder {
    text-transform: capitalize;
}

.contact .content .form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    width: max-content;
    padding: 20px;
    align-self: end;
    border: none;
}

.contact .content .contact-info .phones {
    margin-bottom: 120px;
}

@media (max-width:768px) {
    .contact .content .contact-info .phones {
        margin-bottom: 40px;
    }
}

.contact .content .contact-info h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
}

.contact .content .contact-info p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #777;
    text-transform: capitalize;
}

.contact .content .contact-info .location p {
    font-style: italic;
}

/* ---------------------------------------------------- end contact ------------------------------------------------------ */


/* ---------------------------------------------------- start footer ------------------------------------------------------ */
footer {
    padding: var(--section-padding) 0;
    background-image: url(/imgs/footer.jpg);
    background-size: cover;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.564);

}

footer .container {
    position: relative;
    text-align: center;
}

footer h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    padding: 30px;
    width: fit-content;
    margin: 0px auto;
    border-bottom: 1px solid;
}

footer .social-icons i {
    padding: 20px 15px;
    color: white;
    font-size: 15px;
}

footer p {
    margin: 37px 0 0 0;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

footer p span {
    color: var(--main-color);
}

/* ---------------------------------------------------- End footer ------------------------------------------------------ */